APP_NAME=MetricsNumero
APP_ENV=development
DEBUG=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=metricsnumero
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://postgres:change-me@postgres:5432/metricsnumero

REDIS_URL=redis://redis:6379/0

ACCESS_SECRET_KEY=change-me
REFRESH_SECRET_KEY=change-me

UPLOAD_DIR=uploads