APP_NAME=MetricsNumero
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/metricsnumero

REDIS_URL=redis://localhost:6379/0

SECRET_KEY=change-this-secret-key